.about-section {
  height: calc(100vh - 100px);
  padding: 20px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hero {
    width: 50%;

    h2 {
      line-height: 65px;
      color: var(--clr-accent);
    }

    p {
      font-size: 16px;
      margin: 30px 0 45px;
    }
  }
}

@media (max-width: 800px) {
  .about-section {
    flex-direction: column;
    justify-content: start;

    .hero {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 400px) {
  .about-section {
    padding: 20px 30px;
  }
}
