.main-section {
  height: calc(100vh - 100px);
  padding: 20px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hero {
    h2 {
      line-height: 65px;
      color: var(--clr-accent);
    }

    p {
      font-size: 30px;
      margin: 10px 0 45px;
    }

    button {
      border: 1px solid var(--clr-accent);
      background: transparent;
      padding: 13px 20px;
      color: var(--clr-light);
      cursor: pointer;
      transition: .2s ease-in-out;

      &:hover {
        background: var(--clr-accent);
        color: var(--clr-dark);
      }
    }
  }
}

@media (max-width: 800px) {
  .main-section {
    flex-direction: column;
    justify-content: start;

    .hero {
      margin-bottom: 50px;
    }
  }
}

